body {
    color: #dee0e6;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    overflow-y: hidden;
}

button {
    background: #ffa822;
    border: 2px solid #733;
    border-radius: 5px;
    color: #733;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    padding: 6px 10px;
}

code {
    color: #ffa822;
}

div {
    grid-column-end: span first;
    grid-column-start: first;
}

form,
.record {
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [first] 7fr 1fr 18fr 1fr 3fr;
}

h2 {
    margin: 0;
}

h3 {
    grid-column-end: span first;
    grid-column-start: first;
    margin: 0 0 10px 0;
}

input,
select {
    grid-column-end: span 2;
    grid-column-start: 2;
}

summary {
    cursor: pointer;
}

.tgl {
    display: none;
}

.tgl-btn {
    align-self: center;
}

.tgl-btn:after {
    content: "";
}

.tgl-container {
    display: flex;
    grid-column-end: span 1;
    grid-column-start: 2;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl+.tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-ios+.tgl-btn {
    background: #ffa822;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #733;
}

.tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #733;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios+.tgl-btn:hover:after {
    will-change: padding;
}

.tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 2em #733;
}

.tgl-ios+.tgl-btn:active:after {
    padding-right: .8em;
}

.tgl-ios:checked+.tgl-btn {
    background: #ffa822;
}

.tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -.8em;
}

label {
    grid-column: first;
    text-align: right;
}

label:after {
    content: ":";
}


textarea {
    background: #1c1c1c;
    color: lightgrey;
    grid-column-end: span first;
    grid-column-start: first;
    width: 95%;
}

.box {
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    position: relative;
}

.containerz textarea {
    border: none;
    height: 100%;
    margin: -10px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 100%;
}

.containerz {
    border: 1px solid silver;
    padding: 10px;
}

.full-width {
    grid-column-end: span 3;
    grid-column-start: first;
    text-align: left;
}

.image {
    background: #1e79ae;
    width: 90%;
}

.record {
    background: #15999e;
    width: 80%;
}

.removebutton {
    background: #ff6150;
    margin-bottom: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.section {
    box-sizing: border-box;
    float: left;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.tooltip {
    grid-column: 4;
    position: relative;
    z-index: 1000;
}

.tooltip:before {
    background: #000;
    border-radius: 10px;
    color: #fff;
    content: attr(data-text);
    display: none;
    margin-right: 15px;
    padding: 10px;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

.tooltip.left:before{
    right: 0;
    left: 100%;
    margin-right: 0;
    margin-left: 15px;
}

.tooltip:hover:before,
.tooltip:hover:after {
    display: block;
}

#download-button {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: center;
}

#section-input {
    background-color: #134e6f;
    border-right: 1vw solid #F5E5D6;
    overflow-y: auto;
    padding-left: 15px;
    width: 40%;
}

#section-readme textarea {
    height: calc(100vh - 190px);
}

#section-readme {
    background-color: black;
    color: white;
    width: 30%;
}

#section-yml textarea {
    height: calc(50vh - 95px);
}

#section-yml {
    background-color: black;
    color: white;
    width: 30%;
}
