body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
    background-color: #fdfdfd;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    padding: 30px;
}

code{
    color: #3252a8;
    background-color: #bfc8e3;
    border-radius: 3px;
    padding: 2px 4px;
}

#content{
    max-width: 865px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #e1e4e8;
    border-radius: 2px;
    padding: 10px 40px;
    padding-bottom: 20px;
}

h1, h2{
    border-bottom: 1px solid #eaecef;
}

footer{
    text-align: center;
    margin-top: 30px;
}
