html,
body {
  font-family: "Orbitron|Ubuntu", monospace;
  font-size: 24px;
}

html {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #211a52;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin-top: 100px;
}

.copy-container {
  text-align: center;
}

p {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

#cb-replay {
  fill: #666;
  width: 20px;
  margin: 15px;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: inherit;
  cursor: pointer;

  &:hover {
    fill: #888;
  }
}

.body-center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 0;
  color: #000;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
