<div id="dnsidXXX" class="dnsrecord record box">
    <h3>DNS Record</h3>
    <button type="button" class="removeDNS removebutton" onclick="update()">Remove DNS</button>
    <br>
    <label for="dnstagXXX">Type</label>
    <select id="dnstagXXX" name="dnstag" class="dnstag" oninput="update()">
        <option value="A" selected>A</option>
        <option value="AAAA">AAAA</option>
        <option value="CNAME">CNAME</option>
        <option value="MX">MX</option>
        <option value="TXT">TXT</option>
    </select>
    <span class="tooltip" data-text="'A' for standard domain name - use a .hkn domain, e.g. aau.hkn">?</span>
    <br>
    <label for="dnsvalueXXX">Value</label>
    <input type="text" id="dnsvalueXXX" name="dnsvalue" class="dnsvalue" oninput="update()">
    <br><br>
</div>
