<div id="flagidXXX" class="flagrecord record box challenge">
    <h3>Challenge</h3>
    <br>
    <button id="removeflagbuttonXXX" type="button" class="removeFlag removebutton" onclick="update()">
        Remove Challenge
    </button>
    <label for="flagnameXXX">Title</label>
    <input type="text" id="flagnameXXX" name="flagname" class="flagname" oninput="update()">
    <br>
    <!-- TODO Revert back after DDC -->
    <!--label>Flag type</label>
    <div class="tgl-container">
        <label class='tgl-btn' for='flagtypeXXX'>
            Static
        </label>
        <input class='tgl tgl-ios' id='flagtypeXXX' type='checkbox' onclick="updateFlagTypePlaceholder('XXX'); update()">
        <label class='tgl-btn' for='flagtypeXXX'></label>
        <label class='tgl-btn' for='flagtypeXXX'>
            Dynamic
        </label>
    </div>
    <span
        class="tooltip"
        data-text="Static flags are the same for all participants,
        dynamic flags change and must be read from an environment variable."
    >?</span>
    <br-->
    <label for="flagXXX">Flag</label>
    <input type="text" id="flagXXX" name="flag" class="flag" oninput="update()" placeholder="HKN{...} / DDC{...}">
    <br>
    <label for="flagpointsXXX">Points</label>
    <input
        id="flagpointsXXX"
        type="number"
        min="0"
        max="100"
        name="flagpoints"
        class="flagpoints"
        oninput="update()"
        placeholder="0-100"
    >
    <br>
    <label for="flagcategoryXXX">Category</label>
    <select id="flagcategoryXXX" name="flagcategory" class="flagcategory" oninput="update()">
        <option value="Binary" selected>Binary</option>
        <option value="Boot2Root">Boot2Root</option>
        <option value="Cryptography">Cryptography</option>
        <option value="Forensics">Forensics</option>
        <option value="Misc">Misc</option>
        <option value="Operational Technologies">Operational Technologies</option>
        <option value="Reverse Engineering">Reverse Engineering</option>
        <option value="Starters">Starters</option>
        <option value="Web exploitation">Web Exploitation</option>
    </select>
    <br>
    <label for="flagdifficultyXXX">Difficulty</label>
    <select id="flagdifficultyXXX" name="flagdifficulty" class="flagdifficulty" oninput="update()">
        <option value="beginner" selected>Beginner</option>
        <option value="very easy">Very easy</option>
        <option value="easy">Easy</option>
        <option value="easy-medium">Easy-medium</option>
        <option value="medium">Medium</option>
        <option value="medium-hard">Medium-hard</option>
        <option value="hard">Hard</option>
        <option value="very hard">Very hard</option>
    </select>
    <br><br>
    <label for="flagdescXXX" class="full-width">Description (in markdown)</label>
    <br>
    <textarea
        id="flagdescXXX"
        name="flagdesc"
        class="flagdesc"
        rows="5"
        oninput="update()"
        placeholder="Challenge description the participant will see."
    ></textarea>
    <br><br>
    <label for="flagsolutionXXX" class="full-width">Solution</label>
    <br>
    <textarea
        id="flagsolutionXXX"
        name="flagsolution"
        class="flagsolution"
        rows="4"
        oninput="update()"
        placeholder="Detailed step-by-step guide on how to solve this challenge, should be easily verifiable"
    ></textarea>
    <br><br>
</div>
