<div id="envidXXX" class="envrecord record box">
    <h3>Environment Variable</h3>
    <button type="button" class="removeEnv removebutton" onclick="update()">Remove Env</button>
    <br>
    <label for="envnameXXX">Name</label>
    <input type="text" id="envnameXXX" name="envname" class="envname" oninput="update()">
    <br>
    <label for="envvalueXXX">Value</label>
    <input type="text" id="envvalueXXX" name="envvalue" class="envvalue" oninput="update()">
    <br><br>
</div>
