<div id="imageidXXX" class="box image">
    <h2>Docker image</h2>
    <button id="removeimagebuttonXXX" type="button" class="removeImage removebutton" onclick="update()">
        Remove Docker image
    </button>
    <br>
    
    <label for="imagefolderXXX">Docker image folder</label>
    <input type="text" class="imagefolder" id="imagefolderXXX" size="20" oninput="update()">
    /
    <span
        class="tooltip"
        data-text="Path to the dockerfile, relative to the image base path, e.g.
        'ftp' if Dockerfile is in 'ftp/'. Use '.' if the dockerfile is in the project root."
    >?</span>
    <br><br>

    <div>
        <button type="button" class="addDNS" onclick="update()">
            Add DNS
        </button>
    </div>
    <div>
        <button type="button" class="addEnv" onclick="update()">
            Add Env
        </button>
    </div>
    <div>
        <button id="addflagbuttonXXX" type="button" class="addFlag" onclick="update()">
            Add Challenge
        </button>
    </div>
</div>
