<div id="staticflagidXXX" class="record box challenge">
    <h3>Challenge</h3>
    <button id="removeflagbuttonXXX" type="button" class="removeFlag removebutton" onclick="update()">
        Remove Challenge
    </button>
    <br>
    <label for="staticflagnameXXX">Title</label>
    <input type="text" id="staticflagnameXXX" name="flagname" class="flagname" oninput="update()">
    <br>
    <label for="staticflagXXX">Flag</label>
    <input
        id="staticflagXXX"
        type="text"
        name="flag"
        class="flag"
        oninput="update()"
        placeholder="HKN{...} / DDC{...}"
    >
    <br>
    <label for="staticflagpointsXXX">Points</label>
    <input
        id="staticflagpointsXXX"
        type="number"
        min="0"
        max="100"
        name="flagpoints"
        class="flagpoints"
        oninput="update()"
        placeholder="0-100"
    >
    <br>
    <label for="staticflagcategoryXXX">Category</label>
    <select id="staticflagcategoryXXX" name="flagcategory" class="flagcategory" oninput="update()">
        <option value="Binary" selected>Binary</option>
        <option value="Boot2Root">Boot2Root</option>
        <option value="Cryptography">Cryptography</option>
        <option value="Forensics">Forensics</option>
        <option value="Misc">Misc</option>
        <option value="Operational Technologies">Operational Technologies</option>
        <option value="Reverse Engineering">Reverse Engineering</option>
        <option value="Starters">Starters</option>
        <option value="Web exploitation">Web Exploitation</option>
    </select>
    <br>
    <label for="staticflagdifficultyXXX">Difficulty</label>
    <select id="staticflagdifficultyXXX" name="flagdifficulty" class="flagdifficulty" oninput="update()">
        <option value="beginner" selected>Beginner</option>
        <option value="very easy">Very easy</option>
        <option value="easy">Easy</option>
        <option value="easy-medium">Easy-medium</option>
        <option value="medium">Medium</option>
        <option value="medium-hard">Medium-hard</option>
        <option value="hard">Hard</option>
        <option value="very hard">Very hard</option>
    </select>
    <br>
    <label for="staticflaglinkXXX">Nextcloud link</label>
    <input type="text" id="staticflaglinkXXX" name="flaglink" class="flaglink" oninput="update()">
    <br><br>
    <label for="staticflagdescXXX" class="full-width">Description (in markdown)</label>
    <br>
    <textarea
        id="staticflagdescXXX"
        name="flagdesc"
        class="flagdesc"
        rows="5"
        oninput="update()"
        placeholder="Challenge description the participant will see."
    ></textarea>
    <br><br>
    <label for="staticflagsolutionXXX" class="full-width">Solution</label>
    <br>
    <textarea
        id="staticflagsolutionXXX"
        name="flagsolution"
        class="flagsolution"
        rows="4"
        oninput="update()"
        placeholder="Detailed step-by-step guide on how to solve this challenge, should be easily verifiable"
    ></textarea>
    <br><br>
</div>
